header {
    /* border: 2px solid red; */
    background-image: url(.././img/feedback_bg.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    flex-direction: column;
    background-position: 50% 50%;
}

header h1 {
    /* border: 2px solid green;  */
    padding: 20px 80px;
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 15px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.936);

}

.container {
    padding: 5% 15%;
    background-color: #008C91;
}

.container ul {
    /* border: 2px solid green;  */
    margin: 0 auto;
    min-width: 80%;
}

.container li {
    /* border: 2px solid red;  */
    display: flex;
    /* align-items: center; */
    /* gap: 36px; */
    /* align-self: stretch; */
    border: 2px solid #333;
    background: #FFF;
    margin-bottom: 50px;
    transform: scale(1);
    transition: .5s;
}

.container li:hover {
    transform: scale(1.1);

}

.container img {
    max-width: 280px;
}

.testarea {
    /* border: 2px solid red;  */

    display: flex;
    max-width: 707px;
    flex-direction: column;
    margin: 0 5%;
    /* align-items: flex-end; */

}

.testarea .tag {
    margin: 15px 15px 0 0;
    display: flex;
    justify-content: end;
}



.tag a {
    text-decoration: none;
    background-color: #FF9800;
    color: var(--font-white, #FAFAFA);
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.56px;
    border-radius: 16px;
    padding: 5px 10px;
}

.tag a:hover {
    background-color: #333;
}

.date {
    color: #A9A9A9;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 4.8px;
    margin-bottom: 10px;
}

.name {
    color: #333;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.testarea h1 {
    color: #975F2F;
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 1.92px;
    margin-bottom: 16px;
}

.testarea .title {
    text-decoration: none;
    text-decoration-color: #ff990000;
    transition: .5s;
}

.testarea .title:hover {
    text-decoration: underline;
    text-decoration-color: #ff9900;
}

.testarea .content {
    /* border: 2px solid red;  */

    overflow: hidden;
    color: #333;
    font-size: 0.875rem;
    line-height: 200%;
    max-width: 500px;
    max-height: 50px;
    margin-bottom: 30px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

}

.morebar {
    /* border: 2px solid green;  */


    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    margin-right: 20px;
}

.morebar a {
    /* border: 2px solid green;  */

    color: #A9A9A9;
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.32px;
    text-decoration: none;
    display: flex;

    flex-direction: column;
}

.morebar img {
    width: 120px;
}

.viewmore {
    display: block;
    margin: 0 auto;
    color: #FAFAFA;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 140%;
    padding: 16px 71px;

    background-color: #FF9800;
    MAX-width: 160px;
    text-decoration: none;
    transition: .5s;
}

.viewmore:hover {
    background-color: #333;
    content: "click";

}

/* --------RWD------------ */

@media screen and (max-width : 947px) {

    html {
        font-size: 80%;
    }

    .container{
        padding: 5% 5%;
    }

    .container li {
        flex-direction: column;

    }

    .container .customer {
        margin: 5% auto;
    }

    .testarea {
        max-width: 100%;
        padding-bottom: 15px;
    }

    .container ul {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px; */

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 20px 20px;

        margin: auto;
        justify-content: center;
        align-content: center;
        /* padding: 5PX; */
    }

}

@media screen and (max-width : 758px) {

    .container ul {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .container li {
        max-width: 100%;
        padding: 0 10px;
    }

    .container .customer {
        margin: 15px auto;
    }


}

@media screen and (max-width : 480px) {
    .testarea h1 {
        font-size: 1.8rem;
    }
}