@import url("reset.css");

html{
    font-size: 100%;
}

body {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    
}

.wrapper {
    width: 100%;
    /* background-color: #008C91; */
}

/* .container { 
    max-width: 1440px;
    margin: 0 auto;
} */



/* --------------nav-------------- */
nav {
    /* padding: 0 178px; */
    background-color: #004257;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {

    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 57px;
    align-items: center;
    padding: 5px 0;
}

nav li {
    /* border: 2px solid green; */
    flex-grow: 1;
    position: relative;
}

ul .logo1 {
    width: 50px;
    margin-top: 10px;
    object-fit: cover;
    overflow: hidden;
}

nav .nav_but {
    /* border: 2px solid green; */
    text-decoration: none;
    color: #FFF9E6;
    font-size: 100%;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    display: block;
    letter-spacing: 4px;
    transition: .5s;
}

nav li::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #FF9800;
    transition: .3s;
    display: block;
}

nav li:nth-child(4)::before {
    display: none;
}


nav li:hover::before {
    width: 100%;
    left: 0;
}

nav .nav_but:hover {
    color: #FF9800;
}

.hamwrap .nav_logo2{
    display: none;
}





/* -------------footer-------------- */
footer {
    background-color: #67401E;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-wrap {
    /* border: 2px solid red;  */
    max-width: 800px;
    margin: 0 auto;
}

.footer-wrap .img-group {
    max-width: 650px;
    /* border: 2px solid green;  */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;
}

.img-group img {
    max-width: 120px;
}

.tool {
    /* border: 2px solid rebeccapurple;  */
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    flex-shrink: 0;
    margin: 20px 50px 0 50px;
}

/* ----左邊工具列---- */

.tool-left {
    flex-basis: 0;
    /* border: 2px solid yellow;  */
    padding-top: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

.tool-left p {
    font-size: 87.5%;
    color: #FFF9E6;
    text-align: center;
    margin-bottom: 15px;
}

.tool-left .foot-button {
    /* border: 2px solid blue;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.tool-left .foot-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FF9800;
    padding: 10px;
    width: 100px;
    height: 10px;
    border-radius: 0;
    transition: .5s;
    margin-bottom: 10px;
}

.tool-left span {
    font-size: 12px;
    color: white;
}

.tool-left .foot-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #FF9800;
    padding: 10px;
    width: 100px;
    height: 10px;
    border-radius: 0;
    transition: .5s;
}

.tool-left .foot-contact img {
    margin-left: 4px;
    max-width: 16px;
    /* height: 14px; */
}

.tool-left .foot-form:hover {
    background-color: #004257;
}

.tool-left .foot-contact:hover {
    background-color: #004257;
}

/* ---------中間工具列------------ */

.tool-center {
    /* border: 2px solid rgb(0, 255, 242);  */
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    flex-basis: 0;
    flex-grow: 1;
}

.tool-center img {
    width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
}

social-media {

    width: 176px;
    /* border: 2px solid rgb(255, 6, 172); */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

social-media a {
    text-decoration: none;
}

social-media i {
    color: #FFF9E6;
    transition: .5s;
}

social-media a:hover i {
    color: #FF9800;
}

/* ----------右邊工具列------------ */

.tool-right {
    /* border: 2px solid rgb(255, 48, 141);  */
    /* width: 120px; */
    flex-basis: 0;
    flex-grow: 1;

}

.tool-right .tool-a-wrap {
    width: 140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: auto;
    flex-grow: 0;

}

.tool-right a {
    /* border: 2px solid green;  */
    text-decoration: none;
    font-size: 12px;
    color: #FFF9E6;
    line-height: 4;
    display: block;
    width: 50px;
    text-align: center;
}

.tool-right a:hover {
    text-decoration: underline;
}



/* ---------版權宣告-------------- */

small {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #001F28;
}

small p {
    color: #FFF9E6;
    font-size: 0.625rem;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
}


.menu.active .bar1{ transform: rotate(-45deg) translate(-9px, 7px);}
.menu.active .bar2{opacity: 0;}
.menu.active .bar3{transform: rotate(45deg) translate(-9px, -8px);}

/* --------------RWD--------------- */

@media screen and (max-width: 820px){ 

    
    
}

@media screen and (max-width: 768px) {

    /* ----------nav------------- */

    html{
        font-size: 80%;
    }

    .transition{
        transition: 0.5s;
    }

    .menu{
        background-color: #004257;
		height: 60px;
		padding: 0 20px;
		box-sizing: border-box;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
    }


    .menu ul{
        /* border: 2px solid red; */
        flex-direction: column;
		position: absolute;
		background-color: #333333;
		left: 0;
		top: 60px;
		width: 100%;
        height: 0;
        overflow: hidden;
        
        opacity: 0;
    }

    .menu.active ul{
        
        height: 600px;
        opacity: 1;
    }

    nav .logo1{
        display: none;
    }

    .hamwrap .nav_logo2{
        display: block;
    }

    .menu ul::before{
        content: '';
        background-image: url(../img/index_swiper6.jpg);
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
        width: 100%;
        opacity: 0.5;
        position: absolute;
        top: -229px;
        bottom: -90px;
        left: 0;
        right: 0;
        /* z-index: -1; */
    }

   

    .hamwrap{
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
    }
    
    .hamwrap .nav_logo2{
        display: block;
        width: 50px;
    }

    .menu li{
		margin-left: 0;
        width: 100%;
        height: 100%;
    }

    nav .nav_but{
        font-size: 1.6rem;
        width: 100%;
        height: 100%;
        line-height: 100px;
    }

    nav .nav_but::before{
        display: none;
    }

    nav li:nth-child(4){
        display: none;
    }

    .bar{
        width: 36px;
        height: 4px;
        background-color: #FF9800;
        margin: 6px 0;
        border-radius: 2px;
    }
    
    .menu.active .bar1{ transform: rotate(-45deg) translate(-9px, 7px);}
    .menu.active .bar2{opacity: 0;}
    .menu.active .bar3{transform: rotate(45deg) translate(-7px, -5px);}




    /* --------footer------------ */

    .footer-wrap .img-group{
        flex-wrap: wrap;
        justify-content:center;
        gap: 10px;

    }

    .tool{
        flex-direction: column;
        margin-top: 0;

    }

    .tool-left{
        padding-top: 0;
        order: 1;
        margin-bottom: 30px;
    }

    .tool-left .foot-button{
        flex-direction: row;
        align-items:unset;
        justify-content: space-around;
    }
    
    .tool-center{
        border-left:0;
        
        border-right:0;
        
        margin-top: 20px;
        padding-bottom: 20px;
        order: 3;
    }

    .tool-left p{
        font-size: 150%;
    }

    social-media a{
        font-size: 150%;
    }

    .tool-right{
        border-top:1px solid white;
        border-bottom: 1px solid white;
        order: 2;
    }

    .tool-right .tool-a-wrap{
        margin-top: 10px;
        margin-bottom: 10px;

        width: 200px;
        gap: 5px;
    }


    .tool-right a{
        font-size: 150%;
        width: 100px;
        flex-direction: column;

    }

    small p{
        font-size: 0.5rem;
    }

}